.container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: stretch;
}
@media only screen and (min-width: 1201px) {
  .container {
    align-content: stretch;
  }
  .sub-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }

  .sub-grid {
    flex-direction: row;
    display: flex;
    align-content: stretch;
    display: flex;
  }
}
